# System files
.DS_Store
Thumbs.db
ehthumbs.db

# Python files
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environment
.venv/

# IDE
.idea/
.cursor/
.vscode/
.trae/

# Data and model weights
DeepAnalyze-8B/
data/
models/

#other
**/.claude/
**/workspace/
**/CLAUDE.md
**/logs/